.recipes {
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    height: 420px;
    width: 250px;
    overflow: hidden;
    vertical-align: top;
}

.card img {
    border-radius: 5px;
    width: 100%
}