header.title {
    background-color: $color-6;
    color: $white;
    font-size: 2em;
    margin: 20px auto 40px auto;
    padding: 0 15px;
    text-align: center;
    width: fit-content;

    a {
        text-decoration: none;
        font-family: $font-2;
    }

    a:visited {
        color: $white;
    }
}

header.title:hover {
    background-color: #000;
}